/*font styles*/

/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Cinzel', serif;*/
/*font-family: 'Cabin Sketch', cursive;*/
/*font-family: 'Reenie Beanie', cursive;*/
/*font-family: 'Sigmar One', cursive;*/

/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family: 'Poiret One', cursive;*/

/*good for larger text*/
/*font-family: 'Allerta Stencil', sans-serif;*/

/*font-family: 'Lato', sans-serif;*/

/*colors*/
/*main RGBA(0, 147, 204, 1)*/
/*main RGBA(0, 110, 153, 1)*/
/*main RGBA(64, 171, 212, 1)*/
/*main RGBA(0, 55, 76, 1)*/
/*main RGBA(23, 62, 76, 1)*/

body{
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  color: black;
  background-color: white;
}

header {
  background-image: url(../images/paper.jpg);
  background-repeat: true;
  margin: none;
  text-align: center;
}

.headshot {
  height: 180px;
  margin: 1em;
 /* -webkit-border-top-left-radius: 100px;
  -moz-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;*/
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

#headshot-container {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

#right-header {
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}

.beardie {
  height: 35px;
  margin: -9px 10px;
}

#name {
  margin: 10px;
  font-weight: 400;
}

#title {
  margin: 20px;
  color: RGBA(0, 110, 153, 1);
  font-weight: 400;
}

.icons-list-1 {
  /*  background-image: linear-gradient( to right, RGBA(249, 245, 248, 1), RGBA(247, 242, 246, 1));*/
  margin: 0 10px 20px 0;
  text-align: center;
  height: 50px;
/*  margin: none;
  width: 37%;
  float: center;
  vertical-align: top;
  display: inline-block;
  height: 2.5em;
  top: 0;
  position: relative;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
}

#sticker {
/*  background-image: url(../images/paper.jpg);
background-repeat: true;*/
z-index: 1;
font-family: 'Lato', sans-serif;
/*background-color: RGBA(249, 245, 248, 1);*/
width: 100%;
height: 75px;
position: absolute;
text-align: center;
margin: none;
background-image: linear-gradient( to right, RGBA(249, 245, 248, 1), RGBA(247, 242, 246, 1));
transition: all .5s;
-webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.3);
box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.3);
}

.about-me {
  margin: 3em auto 3em auto;
}

.bio {
  width: 54%;
  margin: 3em auto 3em auto;
}

#projects-title {
  margin: 0 3.5em;
}

.project-div {
  vertical-align: top;
  display: inline-block;
  margin: 2em 3.5em;
  width: 40%;
  height: 500px;
}

.computer-screen {
  background-image: url('../images/MacbookPro.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 54%;
  margin: 20px auto;
}

.computer-screen img {
  margin: 0 auto;
  margin-top: 1.15em;
  margin-left: 4.96em;
  width: 21.95em;
  height: 13.78em;
  border-radius: 1px;
}

/*.project-list img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.3);
  }*/

  h1 {
    color: RGBA(0, 147, 204, 1);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 55px;
  }

  h2 {
    color: RGBA(0, 147, 204, 1);
  }

  h3 {
    color: RGBA(0, 147, 204, 1);
  }

  h4 {
    color: RGBA(0, 147, 204, 1);
  }

  h5 {
    color: RGBA(0, 147, 204, 1);
  }

  p {
    font-size: 1.1em;
  }

  footer {
    background-image: url(../images/paper.jpg);
    background-repeat: true;
    font-family: 'Julius Sans One', sans-serif;
    background-color: RGBA(249, 245, 248, 1);
    width: 100%;
    height: 150px;
    position: absolute;
    text-align: center;
    margin: none none;
    z-index: -1;
    /*background-image: linear-gradient( to right, RGBA(249, 245, 248, 1), RGBA(247, 242, 246, 1))*/
  }

  .icons-list-2 {
    margin-top: 50px;
    display: inline-block;
  }

  #about-me-title {
    margin: 0 3.5em;
  }

  #contact-title {
    width: 100%;
    height: 75px;
    text-align: center;
    margin: none;
    background-image: linear-gradient( to right, RGBA(249, 245, 248, 1), RGBA(247, 242, 246, 1));
    -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.3);
  }

  img {
    height: 50px;
  }

  .iconic {
    display: inline;
    margin: 0;
    padding: 0 .5em;
    font-size: 50px;
    display: inline-block;
    width: auto;
    vertical-align: top;
  }

  a {
    text-decoration: none;
  }

  .iconic a {
    color: RGBA(56, 55, 54, 1);
  }

  a:hover{
    color: RGBA(0, 147, 204, 1);
  }

  .nav-button a{
    text-decoration: none;
    color: RGBA(0, 147, 204, 1);
  }

  .nav-button {
    display: inline-block;
    margin-top: 0;
    padding: 20px;
    font-weight: 300;
    display: inline-block;
    transition: all .5s;
  }

  .nav-button:hover {
    margin-top: -12px;
    font-size: 3em;
    cursor: pointer;
    color: RGBA(0, 110, 153, 1);
  }

  #contact {
    display: inline-block;
    margin-top: 0;
    padding: 20px;
    font-weight: 300;
    display: inline-block;
  }

  .skillz {
    width: 40%;
    margin: 2em 3.5em 9em 3.5em;
    display: inline-block;
    vertical-align: top;
  }

  .tech-skills {
  }

  .skills-rate {
    width: 100%;
  }

  .skill-bar {
    background-image: linear-gradient( to right, RGBA(0, 110, 153, 1), RGBA(64, 171, 212, .5));
    min-height: .6em;
    margin: 0 .5em;
  }

  .weak {
    font-weight: 300;
  }

  .sound-cloud {
    vertical-align: bottom
  }
  /*Start Responsive Design*/

  @media (max-width: 1279px){
    .computer-screen {
      background-image: none;
    }
  }

  @media (min-width: 1281px){
    .computer-screen {
      background-image: none;
    }
  }

  @media (max-width: 860px){

    #sticker { 
      height: 55px;
    }

    #contact-title {
      height: 55px;
    }

    .nav-button {
      display: inline-block;
      margin-top: 8px;
      padding: .25em;
      font-weight: 300;
      font-size: 1.2em;
    }

    .nav-button:hover {
      margin-top: -6px;
      font-size: 2.2em;
      cursor: pointer;
      color: RGBA(0, 110, 153, 1);
    }

    #contact {
      padding: 10px;
    }
  }

  @media (max-width: 600px){
    h1 {
      font-size: 30px;
    }

    ul {
      padding: 5px;
    }

    p {
      text-align: left;
    }

    nav li {
      padding-left: 15PX;
    }

    #headshot {
      margin-top: 1em;
      margin-bottom: 0;
    }

    #sticker { 
      height: 40px;
    }

    #contact-title {
      height: 40px;
    }

    .nav-button {
      display: inline-block;
      margin-top: 8px;
      padding: .3em;
      font-weight: 300;
      font-size: .8em;
    }

    #contact {
      display: inline-block;
      margin-top: 2px;
      padding: .1em;
      font-weight: 300;
      font-size: 1.4em;
    }

    .nav-button:hover {
      margin-top: -2px;
      font-size: 1.4em;
      cursor: pointer;
      color: RGBA(0, 110, 153, 1);
    }

    .iconic {
      padding: 0 .25em;
      font-size: 40px;
      display: inline-block;
      width: auto;
      vertical-align: top;
    }

    .project-list > div {
      display: block;
      width: auto;
      margin: 1em;
    }

    #projects-title {
      margin: 0;
    }

    .computer-screen {
      margin: 0;
    }

    .computer-screen img {
      margin: 0;
    }

    .about-me > article {
      display: block;
      width: auto;
    }

  }
